.free {
  padding: 28px, 42px, 28px, 42px;
  border-radius: 12px;
  border: 2px solid #0bdaa6;
  margin-top: 30px;
  width: 249px;
  height: 60px;
  font-family: "Roboto";
  background: #b3f4e3;
  color: #0bdaa6;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
}
.free:hover {
  background: #0bdaa6;
  color: white;
  transition: 1s;
}
.free a {
  text-decoration: none;
  color: white;
}
