.getin_touchheading {
  font-family: "Inter";
  font-size: 32px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0em;
  color: black;
  margin-left: 9px;
}

.getin_touchheadingh5 {
  font-family: "Inter";
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  color: #333333;
  margin-left: 9px;
}
.getin_touch {
  margin-top: 2rem;
}
.input_Details {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.input_Details input {
  width: 50%;
  font-weight: 400;
  margin: 10px;
  color: #808080;
  height: 40px;
  padding: 10px;
  border-radius: 28px;
  border: 1px solid #e6e6e6;
  outline-color: #e6e6e6;
}
.input_Details input::placeholder {
  font-family: "Inter";
  font-size: 13px;
  font-weight: 700;
  color: #e6e6e6;
  text-transform: capitalize;
}
/* .getin_touch,
input,
:focus {
  outline-color: unset;
} */

.input_Detailsemail {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 10px;
  /* background-color: red; */
  border-radius: 28px;
  border: 1px solid #e6e6e6;
  overflow: hidden;
}
.clicked {
  border: 1px solid #e6e6e6;
}

.icon {
  color: #4d4d4d;
  /* flex-basis: 20%; */
  /* background-color: #333333; */
  text-align: center;
  margin-left: 10px;
  padding: 10px;
}
.input_Detailsemail input {
  width: 110%;
  font-weight: 400;
  border: none;
  margin: 10px;
  color: #808080;
  padding: 10px;
  border-radius: 28px;
  outline-color: white;
}
.input_Detailsemail input::placeholder {
  font-family: "Inter";
  font-size: 13px;
  font-weight: 700;
  color: #e6e6e6;
  text-transform: capitalize;
}

.textareainput textarea {
  width: 100%;
  margin: 10px;
  border-radius: 28px;
  padding: 1rem;
  border: 1px solid #e6e6e6;
  color: #4d4d4d;
  font-weight: 600;
  resize: none;
}
.textareainput textarea::placeholder {
  color: #28162d;
  text-transform: capitalize;
}
.textareainput,
textarea:focus {
  outline-color: #e6e6e6;
}
.privacy p {
  font-family: "Inter";
  font-size: 14px;
  font-weight: 500;
  line-height: 1.7;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 1rem;
  color: #28162d;
}
.privacy span {
  color: #000000;
}

.phonenumber_div {
  /* background-color: #000000; */
  padding: 1rem;
  border-right: 1px solid #e6e6e6;
}
.phonenumber_div span {
  font-family: "Inter";
  font-size: 14px;
  font-weight: 600;
  color: #4d4d4d;
}
@media screen and (max-width: 760px) {
}
