.features_container {
  width: 100%;
  /* background-color: rgb(242, 242, 242); */
  display: flex;

  justify-content: center;

  padding: 2rem;
}
.features_container_classroom {
  display: flex;

  gap: 40px;

  padding: 2rem;
}
.features_class {
  /* background-color: chocolate; */
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  padding: 2rem;
  flex-direction: column;
}
.classroom_h2 {
  font-family: "Plus Jakarta Sans";
  font-size: 29px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0em;
  color: #0a0f29;
}
.classroom_desc {
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #0a0f29;
}
.cardDetails {
  display: flex;
  gap: 20px;
  /* align-items: center;
  justify-content: center; */

  padding: 1rem;
  /* background-color: blue; */
}
.Feature2_container_flex {
  display: flex;
  gap: 49px;
  align-items: center;
  background-color: rgb(242, 242, 242);
  padding: 2rem;
  /* background-color: yellow; */
  width: 100%;
  height: 60vh;
}
.Feature2_container_flex_h2 {
  margin-bottom: 23px;

  font-family: "Plus Jakarta Sans";
  font-size: 29px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0em;
}
.Feature2_container_flex_des {
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  margin-bottom: 20px;
}

.features_classroom_Line {
  width: 120px;
  height: 7px;
  margin-bottom: 15px;
  background-color: #ccdad1;
}
.features_classroom_Line2 {
  width: 120px;
  height: 7px;
  top: 10%;
  left: 70%;
  position: relative;
  background-color: #ccdad1;
}
.featuereene {
  width: 75%;
  height: 55vh;
  padding: 1rem;
  /* background-color: red; */
}
