.h1 {
  font-family: "Inter";
  font-size: 30px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0em;
}
.p {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
  letter-spacing: 0em;
  text-align: left;
}
.h2 h2 {
  font-family: "Inter";
  font-size: 13px;
  font-weight: 600;
  line-height: 1.7;
  letter-spacing: 0em;
}
.h2 p {
  font-family: "Inter";
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0em;
}
.mapcontainerflex {
  background-color: orange;
  width: 100%;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.location {
  font-family: "Inter";
  font-size: 21px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0em;
  color: #333333;
}
.locationh1 {
  font-family: "Inter";
  font-size: 23px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
}
.address h5 {
  font-family: "Inter";
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
  color: #333333;
}
.address address {
  font-family: "Inter";
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  color: #666666;
}
.main_Container {
  width: 100%;
  height: 130vh;

  display: flex;
  justify-content: center;
  /* align-items: flex-end; */
  align-items: center;
}
.main_Container2 {
  /* margin-top: 90px; */
  width: 80%;
  /* height: 90vh; */
  /* background-color: orangered; */
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 50px;
}
.main_Container3 {
  width: 50%;
  height: 500px;
  /* background-color: orange; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  padding: 2rem;
  flex-direction: column;
}
.main_Container4 {
  width: 50%;
  height: 500px;
  background-color: brown;

  border-radius: 20px;
  box-shadow: "-0px 0px 10px 0px #00000040";
}
.mapcontainerflex1 {
  width: 80%;
  height: 70vh;
  /* background-color: blue; */
  gap: 20px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mapcontainerflex2 {
  width: 40%;
  height: 400px;
  /* background-color: olive; */
  background-image: url("/SubletImages/map.logo.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mapcontainerflex3 {
  width: 40%;
  height: 400px;
  background-color: white;

  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 2rem;
}
.support_Container {
  display: flex;
  gap: 20px;
  overflow: hidden;
}
.main_Container5 {
  padding: 2rem;
}
/* .mapcontainerflexImage {
  width: 80%;
  height: 200px;
  background-image: url("../../../public/SubletImages/map.logo.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
} */
@media screen and (max-width: 760px) {
  .main_Container {
    height: unset;
  }
  .main_Container2 {
    margin-top: 90px;
    flex-wrap: wrap;
    width: unset;
    display: unset;
  }
  .main_Container3 {
    flex-wrap: wrap;
    width: unset;
    align-items: unset;
  }
  .h1 {
    font-size: 20px;
  }
  .p {
    font-size: 13px;
  }
  .h2 h2 {
    font-size: 12px;
  }
  .h2 p {
    font-size: 10px;
  }
  .mapcontainerflex {
    /* flex-direction: column; */
    background-color: white;
  }
  .mapcontainerflex1 {
    /* background-color: orangered; */
    display: block;
    width: 100%;
    height: unset;
  }
  .mapcontainerflex2 {
    width: 100%;
    height: 300px;
  }
  .mapcontainerflex3 {
    height: auto;
    gap: 20px;
    width: unset;
  }
  .location {
    font-size: 17px;
  }
  .locationh1 {
    font-size: 18px;
  }
}
