.service_container {
  width: 100%;
  background-image: url("/SubletImages/premuimimage.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-image: linear-gradient(
    rgb(107, 61, 144) 0%,
    rgb(200, 16, 46) 100%
  ); */
  padding: 2rem;

  gap: 30px;
}

.service_heading {
  width: 50%;
  margin: auto;
  padding: 1rem;
  /* background-color: #0a0f29; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.service_heading h1 {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Plus Jakarta Sans";
  color: white;
  font-size: 30px;
  line-height: 1.5;
}
.service_heading p {
  margin-top: 20px;
  font-family: "Plus Jakarta Sans";
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: white;
}
.conrainer {
  margin-top: 50px;
  width: 30%;
  color: white;
  background-color: #fff3;

  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.conrainer h6 {
  font-size: 15px;
  font-family: "Plus Jakarta Sans";
  margin-bottom: 5px;
}
.conrainer p {
  font-size: 13px;
  font-family: "Plus Jakarta Sans";
}
.inner_heading h1 {
  text-align: center;
  font-family: "Plus Jakarta Sans";
  line-height: 1.5;
}
.inner_heading h5 {
  text-align: center;
  text-transform: capitalize;
  font-family: "Plus Jakarta Sans";
}
.alignItems {
  border: 1px solid #bfe3f1;
  background-color: white;
  color: black;
  margin-bottom: 50px;
}
.none {
  display: none;
}
