.heading {
  text-align: center;
}

.heading h1 {
  font-size: 90px;
  line-height: 1.7;
  font-family: "poppins";
}
.heading h3 {
  font-family: "poppins";
}
.headingpara {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Roboto";
  text-transform: capitalize;
  margin: 2px;
}
.pagenotBtn {
  width: 50%;
  padding: 1rem;
  border-radius: 28px;
  background: #0bdaa6;
  border: none;
  text-transform: capitalize;
  display: inline-block;
  margin-top: 20px;
  cursor: pointer;
  color: white;
  font-family: "Inter";
  font-weight: 600;
  font-size: 18px;
}
