.heading {
  text-align: center;
}

.heading h1 {
  font-size: 90px;
  line-height: 1.7;
  font-family: "poppins";
}
.headingpara {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Inter";
}
