.DashboardPage_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f6f4ee;
}
@media screen and (max-width: 760px) {
  .DashboardPage_container {
    background-color: white;
    height: 100vh;
  }
}
