.inputicon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.inputicon button {
  width: 180px;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 10px;
  border-radius: 24px;
  gap: 10px;
  border: none;
  background-color: white;
}
.fb {
  width: 10px;
}
.goo {
  width: 18px;
}
.spans {
  font-family: "Inter";
  text-transform: capitalize;
  font-size: 12px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0em;
}
