/* .img_container {
  width: 159px;

  height: 154px;
  display: flex;
  justify-content: center;
  background-color: red;
  border-radius: 50%;
} */
.setpassword {
  margin-top: 30px;
}
.setpassword h1 {
  font-family: "Poppins";
  font-size: 28px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0em;
  color: black;
  text-align: center;
}
.setpassword p {
  margin-top: 10px;
  font-family: "Roboto";
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0em;
  text-align: center;
}
.setpassword {
  margin-top: 25px;
  margin-bottom: 25px;
}
.setpassword_input label {
  display: block;
  font-family: "Poppins";
  font-size: 17px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0em;
}
.setpassword_input input {
  margin-bottom: 10px;
  width: 300px;
  height: 40px;
  padding: 10px, 10px, 10px, 15px;
  border-radius: 8px;
  border: 1px solid #e9eff5;
  background-color: #f4f6f9;
  outline-color: #808080;
}
.setpassword_input input::placeholder {
  font-family: "Inter";
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  color: #808080;
  padding: 1rem;
}
.submit {
  text-decoration: none;
}
.forgotpassword_link {
  text-decoration: none;
  display: block;
  margin-top: 20px;
  font-family: "Roboto";
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0em;
  color: #1a1a1a;
}
.forgotpassword_link:hover {
  color: #0bdaa6;
}
