.hero_section {
  width: 100%;
  background: #e9f8fb;
  height: 100vh;
  box-shadow: 0px 4px 4px 0px #00000040;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.maincontainer {
  /* background-color: black; */
  margin-top: 5rem;
  width: 90%;
  height: 85vh;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 5rem;
}
.imgcontainer1 {
  color: white;
  /* background-color: blue; */
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  /* position: relative; */
}
.image1laptop {
  width: 300px;
  height: 400px;

  box-shadow: 0px 4px 4px 0px #00000040;

  padding: 1rem;
  background-image: url("/src/assets/women1.png"),
    linear-gradient(179.95deg, #bfe3f1 0.05%, #eaf5fb 99.95%);
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  /* position: absolute; */
}

.imgcontainer2 {
  color: red;
  /* background-color: tan; */
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.image2youngman {
  width: 300px;
  height: 400px;
  box-shadow: 0px 4px 4px 0px #00000040;
  background: #e7fbf6;
  background-image: url("/src/assets/man1.png");
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.imgcontainer3 {
  color: brown;
  /* background-color: orangered; */
  display: flex;
  align-items: flex-end;
  position: relative;
  justify-content: left;
}
.image3sittinggirl {
  width: 310px;
  height: 400px;

  box-shadow: 0px 4px 4px 0px #00000040;
  background: #f9f9f9;

  background-image: url("/src/assets/women2.png");
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
}
/* .dotted {
  width: 300px;
  height: 400px;

  position: absolute;
  z-index: 0;
  right: 20px;
  border-radius: 10px;
  padding: 1rem;
  border: dotted 2px #9bdfeb;
} */
/* .dotted2 {
  width: 250px;
  height: 400px;

  position: absolute;
  z-index: 0;

  border-radius: 10px;
  padding: 1rem;
  border: dotted 2px #9bdfeb;
} */
