.hero_section {
  width: 100%;
  /* background-color: #b3f4e3; */

  border-top: 1px solid white;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-wrap: wrap;
}

.maincontainer {
  margin-top: 100px;
  height: 100vh;
  padding: 2rem;
  width: 80%;
  gap: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #000000; */
  margin-right: 25px;
}
/* .ellipse {
  background-color: #333333;
  position: absolute;
  left: 1px;
  top: 60px;
} */
.boreder {
  width: 70px;
  height: 10px;
  background-color: rgb(145, 13, 34);
  margin-bottom: 20px;
}
.maincontainer h1 {
  font-family: "Roboto";
  font-size: 65px;
  font-weight: 800;
  text-align: left;
  color: black;

  margin-bottom: 10px;
}
.maincontainer p {
  font-family: "Roboto";
  font-size: 17px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  color: #000000;
  margin-bottom: 30px;
}

.div1 {
  width: 380px;
  height: 700px;
  /* background-color: #333333; */

  padding: 1rem;
  background-image: url("/SubletImages/5DkTjyeV6QkNskjaRCtmTsHgfSw.webp");
  /* border-radius: 10px; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  animation: floatAnimation 3s ease-in-out infinite alternate;
}
.imagecontainer {
  height: 500px;
  /* background-color: blue; */
  position: relative;
  top: 30px;
}
@keyframes floatAnimation {
  0% {
    transform: translateY(0); /* Start at original position */
  }
  100% {
    transform: translateY(-20px); /* Float 20px above original position */
  }
}
.free {
  text-decoration: none;
  color: white;
}
/* .free:hover {
  color: white;
  transition: 1s;
} */
@media screen and (max-width: 968px) {
  .hero_section {
    /* background-color: #000000; */
    height: 70vh;
  }
  .div2 {
    display: none;
  }
  .maincontainer {
    /* background-color: orangered; */
    width: 100%;
    height: 60vh;
    margin-right: unset;
    gap: 20px;
  }
  .ellipseimge {
    width: 20px;
  }
  .ellipse {
    top: 20px;
  }
  .maincontainer p {
    font-size: 20px;
    line-height: 1.5;
  }
  .div1 {
    width: 280px;
    height: 300px;
  }
}
.another_section {
  width: 100%;
  height: 80vh;
  background-color: #28162d;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.another_section_box {
  /* background-color: blue; */
  width: 40%;
  padding: 2rem;
  height: 50vh;
  margin-left: 60px;
}
.another_section h1 {
  font-size: 30px;
  font-family: "Roboto serif";
}
.another_section_para h1 {
  font-size: 35px;
  font-family: "Roboto serif";
  color: white;
  margin-top: 30px;
  line-height: 1.7;
  text-align: center;
}
.another_section_para p {
  font-family: "Roboto";
  font-size: 17px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  color: white;
  margin-bottom: 30px;
  text-align: center;
}
