.logo {
  width: 200px;
  height: 79px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: black; */
  transition: change 5s;
}
.imglogo {
  width: 80px;
}
.app_styles {
  transition: 1s;

  color: #5b0e0e;
}
/* .logo h3 {
  font-size: 30px;
} */
