.navDashboard_container {
  /* background-color: orangered; */
  width: 269px;
  height: 100vh;
}
.navDashboard_container_logoflex {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.navDashboard_container_headingtitle h1 {
  font-family: "Roboto";
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
}
.navDashboard_container_headingtitle p {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;

  color: #d4d5d9;
}
.SidebarDashboard_Navidation_container {
  margin-top: 3rem;
}

.SidebarDashboard_Ul {
  list-style: none;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
}
.SidebarDashboard_Ul a {
  text-decoration: none;
  color: #d4d5d9;
}
.SidebarDashboard_Ul li {
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
}
.SidebarDashboard_Ul span {
  margin-left: 20px;
}
