.setting_page_title {
  height: 70px;
  width: 30%;
  padding: 1rem;
  /* background-color: antiquewhite; */
}

.setting_page_title h3 {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0em;
  margin-right: 50px;
  text-align: left;
  margin-left: 79px;
  margin-top: 20px;
}
.setting_page_details {
  border-top: 1px solid #e3e3e5;
  width: 100%;
  display: flex;
  align-items: center;

  /* justify-content: center; */
  /* height: 80vh; */
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.setting_page_box {
  /* background-color: wheat; */

  /* height: 80vh; */
  width: 50%;
  margin-left: 7%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  padding: 2rem;
  flex-wrap: wrap;
}

.setting_page_Information {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
}
.setting_page_Information h6 {
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  color: #d4d5d9;
}
.setting_page_Information h5 {
  font-family: "Roboto";
  font-size: 13px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  color: black;
}
