.hero_section {
  width: 100%;
  /* background: #e9f8fb; */
  height: 100vh;
  box-shadow: 0px 4px 4px 0px #00000040;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;
}
.maincontainer {
  /* background-color: black; */
  padding: 2rem;
  width: 90%;
  height: 90vh;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-wrap: wrap;

  gap: 30px;
}
.imgcontainer1 {
  color: white;
  /* background-color: blue; */
  display: flex;
  align-items: flex-end;
}
.image1laptop {
  width: 280px;
  height: 400px;

  box-shadow: 0px 4px 4px 0px #00000040;

  background-image: url("/src/assets/SubletImages/women1.png"),
    linear-gradient(179.95deg, #bfe3f1 0.05%, #eaf5fb 99.95%);
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.imgcontainer2 {
  color: red;
  /* background-color: tan; */
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.image2youngman {
  width: 280px;
  height: 400px;
  box-shadow: 0px 4px 4px 0px #00000040;
  background: #e7fbf6;
  background-image: url("/src/assets/SubletImages/man1.png");
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.imgcontainer3 {
  color: brown;
  /* background-color: orangered; */
  display: flex;
  align-items: flex-end;
}
.image3sittinggirl {
  width: 280px;
  height: 400px;

  box-shadow: 0px 4px 4px 0px #00000040;
  background: #f9f9f9;

  background-image: url("/src/assets/SubletImages/women2.png");
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media screen and (max-width: 722px) {
  .maincontainer {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    /* background-color: orangered; */
    height: 100vh;
  }
}
@media screen and (max-width: 622px), (max-width: 646px), (max-width: 598px) {
  .maincontainer {
    display: grid;
    /* align-items: center; */
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    /* justify-content: center; */
    /* background-color: orange; */
  }
  .imgcontainer3 {
    display: none;
  }
  .maincontainer {
    /* background-color: black; */
    height: 50vh;
  }
  .hero_section {
    height: 60vh;
  }
}

/* @media screen and (max-width: 800px), (max-width: 600px), (max-width: 400px) {
  .maincontainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: unset;
  }
} */
