.navcontainer {
  width: 100%;
  height: 100px;
  flex-shrink: 0;
  background: white;
  cursor: pointer;
  box-shadow: -0px 0px 10px 0px #00000040;
  position: fixed;
  z-index: 1000;
}
.container {
  max-width: 1200px;
  height: 100px;
  margin: auto;
  padding: 1rem;
}
.innercontainer {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  justify-content: space-evenly;
}
.navigationLink {
  flex-basis: 60%;
  padding: 1rem;
}
.navigationLink ul {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}
.navigationLink li {
  list-style: none;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  line-height: 1.5;
  text-transform: capitalize;
}
.Linkss a {
  color: #28162d;
}
.Linkss a:hover {
  color: #5b0e0e;
  border-bottom: 1px solid #5b0e0e;
  border-top: 1px solid #5b0e0e;
  transition: 1s;
}
/* .Linkss a:visited {
  color: green;
} */
/* .Linkss a:active {
  color: white;
} */
.logindetails {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
  text-transform: capitalize;
}
.logindetails {
  text-decoration: none;
  /* color: #0d0d0d; */
}
.sigin {
  text-decoration: none;
  color: #28162d;
}
.sigin:hover {
  color: #5b0e0e;
  text-decoration: none;
}
.logindetails li {
  justify-content: space-around;

  font-family: "Plus Jakarta Sans";
  font-size: 16px;

  font-weight: 500;
  line-height: 1.5;
  text-transform: capitalize;
}
.joinus {
  font-family: "Plus Jakarta Sans";
  color: #28162d;
  text-decoration: none;
}
.redBackgroundcolortex {
  color: white;
}
/* @media screen and (max-width: 940px) {
  .navcontainer {
  }
} */
/* the furture belong to those who believe in there dreams */
.redBackground {
  /* background-color: #0bdaa6; */
  transition: background-color 3s ease; /* Smooth transition */
}
.logo_link {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-family: "Plus Jakarta Sans";
}
