.navcontainer {
  width: 100%;
  height: 110px;
  flex-shrink: 0;
  background: #f8f6f2;
  cursor: pointer;
}
.container {
  max-width: 1200px;
  height: 110px;
  margin: auto;
  padding: 1rem;
}
.innercontainer {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  justify-content: space-evenly;
}
.navigationLink {
  flex-basis: 60%;
  padding: 1rem;
}
.navigationLink ul {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}
.navigationLink li {
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-transform: capitalize;
}
.Linkss a {
  color: #0d0d0d;
}
.Linkss a:hover {
  color: #0bdaa6;
}
/* .Linkss a:visited {
  color: green;
} */
/* .Linkss a:active {
  color: white;
} */
.logindetails {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
  text-transform: capitalize;
}
.logindetails {
  text-decoration: none;
  color: #0d0d0d;
}
.sigin {
  text-decoration: none;
  color: #0d0d0d;
}
.sigin:hover {
  color: #0bdaa6;
  text-decoration: underline;
}
.logindetails li {
  justify-content: space-around;

  font-family: "Roboto", sans-serif;
  font-size: 15px;

  font-weight: 500;
  line-height: 1.5;
  text-transform: capitalize;
}
.joinus {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 940px) {
  .navcontainer {
  }
}
