.myButton {
  display: block;
  width: 130px;
  height: 48px;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  align-items: center;
  font-size: 15px;
  border-radius: 10px;
  background-color: white;
  border: none;
  font-weight: 500;
  cursor: pointer;
  padding: 14px, 20px, 14px, 20px;
}
.myButton:hover {
  background-color: #f1f6f9;
}
.redBackground {
  background-color: rgb(145, 13, 34);
  color: white;
}
.redBackground:hover {
  background-color: #5b0e0e;
}
