.user_container_box {
  display: flex;
  flex-wrap: wrap;
  /* background-color: #f6f4ee; */
  width: 100%;
  height: 100vh;
  background-color: aqua;
}
.container1 {
  width: 100%;
  height: 100vh;
  background-color: #f6f4ee;
}
